h1 {
    color: blue;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    
    
}

.columns:hover {
    cursor: pointer;

}


.inputs{
    display: flex;
    justify-content: center;
}